.story-select-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .col-4 {
    position: relative;
  }

  &__squares {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}

.story-select {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 3rem 0;
  background: linear-gradient(0deg, rgba($color-blue--lightest, 0) 0%, rgba($color-blue--lightest, 1) 100%);

  &__slider {
    margin: 0 200px;
  }

  &__story {
    border-left: 4px solid rgba($color-gray--dark, 0.2);
    color: $color-blue--darkest;

    &--selected {
      background: $gradient-yellow--top;
    }
  }

  &__button-prev,
  &__button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    svg {
      width: 3rem;
      height: 3rem;
    }

    &:active {
      transform: translateY(-50%);
    }
  }

  &__button-next {
    right: 0;
  }
}
